<div class="container" style="width: 100% !important;">
    <div class="col-md-4" style="background: #2F3646; margin-top: 50px; height: 1070px;">
        <div class="add-device-form">
            <h3 style="color: #F7F7F9; margin-top: 20px;">Adicionar novo dispositivo</h3>
            <div class="form-group">
                <!--<input class="form-control input-lg" placeholder="Add device" autofocus #deviceIp>
                <br>
                <button (click)="addDevice($event, deviceIp)" class="btn btn-primary btn-block">Create</button>-->
                <p style="color: white; background: #b7b7b7; width: 100%; text-align: center; margin-bottom: -1px;">IPv6:</p>
                <div class="input-group" style="background: white;"> 
                    <ng2-ip [(ngModel)]="ip"
                        [inputValidation]="inputValidation"
                        [disabledBlocks]="disabledBlocks"
                        [highlightInvalidBlocks]="highlightInvalidBlocks"
                        [theme]="'ng2-ip-theme-' + theme"
                        [mode]="mode"
                        [copyMode]="copyMode">
                    </ng2-ip>
                </div>
                <button class="btn btn-primary btn-block input-lg" (click)="showDialog()" [class.disabled]="!loading" type="submit" style="margin-top: 10px;">
                    <span [class.hidden]="!loading">Buscar</span>
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw" [class.hidden]="loading" style="color: white; vertical-align: middle;"></i>
                    <span [class.hidden]="loading" style="vertical-align: middle;">Verificando...</span>
                </button>
                <p-messages [value]="msgs"></p-messages>                
            </div>
            <h3 style="color: #F7F7F9; margin-top: 20px; margin-bottom: 20px;">Dispositivos</h3>
            
        </div>
        <div class="device-list">
            <div *ngFor="let device of devices" class="row" style="background: dimgray; margin: 5px;">
                <div class="col-md-1">
                    <!--<input type="checkbox" [checked]="device.isCompleted" (click)="updateStatus(device)">-->
                    <img [src]="deviceIcon" style="max-width: 30px; margin-top: 5px;" 
                    title="Detalhes:
                    Nome: {{device.name}}
                    IPv6: {{device.ip}}
                    Intervalo: {{device.interval}}
                    Criado em: {{device.creation}}"/>
                </div>
                <div class="col-md-8">
                    <span [class.hidden]="device.isEditMode" style="color: #F7F7F9; margin-left: 10px;"><strong>{{device.name}}</strong><br></span>
                    <span [class.hidden]="device.isEditMode" style="color: #F7F7F9; font-size: 10px; margin-left: 10px;">IPv6: {{device.ip}}</span>
                    <input type="text"  [class.hidden]="!device.isEditMode" [value]="device.ip" (keypress)="updateDeviceIp($event, device)">
                    <input type="button" [class.hidden]="!device.isEditMode" value="Cancelar" (click)="setEditState(device, false)" class="btn btn-warning">

                </div>
                <div class="col-md-3 btns text-center">
                    <i class="fa fa-eye " aria-hidden="true" style="color: #F7F7F9; margin: 5px; font-size: 20px; cursor: pointer; cursor: hand;"
                    (click)="generateDataMock(device)" title="Ver detalhes no painel"> </i>
                    <i class="fa fa-trash-o" aria-hidden="true" style="color: #F7F7F9; margin: 5px; font-size: 20px; cursor: pointer; cursor: hand;"
                    (click)="deleteDevice(device)" title="Remover dispositivo: {{device.name}}"> </i>
                    <!--<input [class.disabled]="device.isCompleted" (click)="setEditState(device, true)" type="button" class="btn btn-default pull-right" value="Editar">
                    <input (click)="deleteDevice(device)" type="button" class="btn btn-danger pull-right" value="Apagar">-->
                </div>
            </div>
        </div>        
    </div>

    <div class="col-md-8" style="background: #1B1E27; height:1080px !important; margin-top: 50px; padding-left: 30px;">
        <h3 style="color: #F7F7F9; margin-top: 20px;">Painel</h3>  
        <h4 style="color: #F7F7F9; margin-top: 20px;">Gráfico</h4>      
        <app-charts></app-charts>        
        <h4 style="color: #F7F7F9; margin-top: 20px;">Atributos</h4>        
    </div>

    <p-dialog [(visible)]="display">        
        <p-header>
            <img [src]="deviceIcon" style="max-width: 30px; margin-right: 5px;" /><span>&nbsp;&nbsp;Adicionar novo dispositivo:</span>
        </p-header>
        <span>IPv6:&nbsp;&nbsp;</span><span style="float: right;">{{ip}}</span><br>
        <span>Nome:&nbsp;&nbsp;</span><input type="text" pInputText [(ngModel)]="prop_name" style="width: 301px;"/><br>
        <div style="margin-top: 5px; float: left;"><span>Intervalo (segundos):&nbsp;&nbsp;</span><p-spinner size="23" [(ngModel)]="prop_interval"></p-spinner></div><br>
        <div class="dialog-content"><hr>
            <span>Temperatura  </span><p-checkbox name="add-device-form" value="temperatura" [(ngModel)]="selectedValues" style="float: right;"></p-checkbox><br>
            <span>Pressão  </span><p-checkbox name="add-device-form" value="pressao" [(ngModel)]="selectedValues" style="float: right;"></p-checkbox><br>
            <span>Luminosidade  </span><p-checkbox name="add-device-form" value="luminosidade" [(ngModel)]="selectedValues" style="float: right;"></p-checkbox><br>
            <span>Switch  </span><p-checkbox name="add-device-form" value="switch" [(ngModel)]="selectedValues" style="float: right;"></p-checkbox><br>
        </div><hr>
        <p-footer>
            <button pButton type="button" (click)="addDevice($event, device)" label="Adicionar" style="float: right; margin-right: 15px; margin-bottom: 15px;"></button>
        </p-footer>
    </p-dialog>
</div>

